:root {
  --header-height: 50px;
}

.app-wrapper {
  overflow-x: hidden;
}

footer#main-footer {
  width: 100vw;
  position: relative;
  background-color: #252f3d;
  color: #ffffff;
  padding: 0;
  margin: 0;

  .footer-wrapper {
    padding: 24px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    gap: 16px;
  }

  .footer-separator-pipe {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: #fff;
    }
  }

  .footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 16px;
    flex-wrap: nowrap;
  }
}

header#main-header {
  width: 100vw;
  position: relative;
  background-color: #ffffff;
  color: #ffffff;

  .upper-header {
    width: 100%;
    background-color: #252f3d;
    color: #ffffff;
    position: relative;
  }

  .lower-header {
    width: 100%;
    position: relative;
    color: #000;
  }

  .container {
    width: auto;
    position: relative;
    height: 100%;
  }

  .header-group-btn-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 0;

    @include breakpoint(until-desktop) {
      display: flex;
    }

    @include breakpoint(until-landscape) {
      .header-group--prev-btn,
      .header-group--next-btn {
        position: relative;
        z-index: 10;
      }

      .header-group--next-btn {
        right: 15px;
      }

      .header-group--prev-btn {
        left: 15px;
      }
    }
  }
}

.btn {
  display: inline-block;
  border: 0;
  position: relative;
  line-height: 1em;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
}

.btn-none {
  background-color: transparent;
  color: inherit;
  padding: 0;
  border-radius: 0;
  background: none;
}

.btn-xl-green {
  padding: 16px 64px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  background-color: #59ae43;
  border-radius: 50px;
}

.header-group-wrapper {
  display: block;
  width: 100%;
  position: relative;
  background-color: #252f3d;
  color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100%;
  z-index: 3;
}

.header-group-content {
  overflow: hidden;
  width: 100%;
  background-color: #252f3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-group-main {
  overflow: hidden;
  display: block;
  width: 100%;
  position: relative;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  padding: 15px 0;
  height: 100%;
}

.header-group-list {
  --header-list-outter-gap: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  /* For Firefox and other browsers */
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  /* Hide scrollbar for Firefox */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;

  /* Hide scrollbar for Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  @include breakpoint(until-desktop) {
    gap: var(--header-list-outter-gap);
    justify-content: stretch;
  }

  .header-group-list-item {
    display: block;
    flex-shrink: 0;
    scroll-snap-align: start;
    text-align: center;

    @include breakpoint(until-landscape) {
      width: calc((100% - var(--header-list-outter-gap) * 1) / 2);
    }

    @include breakpoint(until-portrait) {
      width: 100%;
    }

    .header-group-list-item-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: stretch;
      gap: 8px;

      @include breakpoint(until-landscape) {
        justify-content: center;
      }

      .header-list-item-icon {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.lower-header-wrapper {
  padding: 30px 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .lower-header-partners-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;
    gap: 20px;

    .lower-header-mcfee-logo-link {
      display: inline-block;
      width: 88px;

      .mcfee-logo-static {
        width: 100%;
      }
    }

    .lower-header-notion-logo-link {
      display: inline-block;
      width: 82px;

      .notion-logo-static {
        width: 100%;
      }
    }
  }

  .lower-header-clarifon-logo-link {
    display: inline-block;
    width: 192px;

    .clarifon-logo-static {
      width: 100%;
    }
  }
}

.order-progress {
  width: 100%;
  display: block;
  margin-top: 10px;
  position: relative;
  margin-bottom: 61px;
}

.order-progress-title-section {
  width: 100%;
  text-align: center;
  position: relative;

  .order-progress-title {
    color: #000;
    font-size: 48px;
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
    margin-bottom: 20px;

    @include breakpoint(until-portrait) {
      font-size: 32px;
    }
  }

  .order-progress-subtitle {
    color: #4d5254;
    font-size: 24px;
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;

    @include breakpoint(until-portrait) {
      font-size: 16px;
    }
  }
}

.order-progress-indicators {
  width: 100%;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;

  @include breakpoint(until-portrait) {
    margin-top: 30px;
  }

  .progress-indicator-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;
    gap: 20px;
    font-size: 20px;

    @include breakpoint(until-desktop) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    }

    @include breakpoint(until-landscape) {
      font-size: 16px;
    }

    @include breakpoint(until-portrait) {
      font-size: 14px;
    }

    @include breakpoint(until-mobile) {
      font-size: 12px;
    }

    .order-progress-indicator-text {
      .progress-indicator-step {
        @include breakpoint(until-portrait) {
          display: none;
        }
      }

      &.progress-ongoing {
        font-weight: 700;
      }
    }
  }

  .progress-indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    @include breakpoint(until-portrait) {
      width: 30px;
      height: 30px;
    }

    &.progress-green {
      background-color: #85bf55;
      border: 2px solid #85bf55;
    }

    &.progress-blue {
      background-color: #2c7ef8;
      border: 2px solid #2c7ef8;
    }

    &.progress-outline-blue {
      border: 2px solid #2c7ef8;
      color: #2c7ef8;
    }

    .progress-done-indicator {
      width: 60%;
    }
  }
}

.ordered-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  position: relative;
  padding: 40px;
  border-radius: 10px;
  background: #fafafa;
  text-align: left;
}

.ordered-product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'image title'
    'image details'
    'reviews details';
  row-gap: 20px;
  column-gap: 40px;
  text-align: left;
  width: 100%;
}

.title-area {
  grid-area: title;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 140%;
  font-weight: 300;

  .title-blue-text {
    color: #2c7ef8;

    &.one-time {
      text-transform: uppercase;
    }
  }
}

.details-area {
  grid-area: details;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  grid-gap: 20px;
}

.image-area {
  grid-area: image;
  width: 100%;
  max-width: 575px;
  margin: 0 auto 0 0;

  .clarifon-ordered-product-static {
    width: 100%;
    height: 100%;
  }
}

.reviews-area {
  grid-area: reviews;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.customer-review-card {
  border-radius: 10px;
  background: #fff;
  width: 100%;
  text-align: left;
  display: block;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .customer-review-details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 13px;
    grid-gap: 13px;

    .customer-image-wrapper {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;

      .customer-image-static {
        width: 100%;
      }
    }
  }

  .customer-review-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 7px;
  }

  .customer-review-name-verified {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    .customer-review-name {
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      color: #333;
    }

    .verified-badge {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 7px;

      .verified-badge-icon {
        width: 16px;
        height: 16px;
        position: relative;
        top: -2px;

        .verified-image-static {
          width: 100%;
        }
      }

      .verified-badge-text {
        font-size: 12px;
        color: #5bb59a;
        font-weight: 300;
        line-height: 1em;
      }
    }
  }

  .customer-review-comment {
    text-align: left;
    width: 100%;
    margin-top: 18px;
    color: #4d5254;
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
  }
}

.review-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: 7px;
  width: 100%;

  li {
    color: #fbbc04;
  }
}

.ordered-product-details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;

  .ordered-product-image-wrapper {
    width: 134px;
    height: 134px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #2c7ef8;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ordered-product-image-static {
      width: 100%;
    }
  }
}

.ordered-product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
  width: 100%;
}

.strike-through {
  text-decoration: line-through;
}

.ordered-product-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .ordered-product-name {
    font-size: 20px;
    font-weight: 300;
    line-height: 140%;
    text-transform: capitalize;
  }

  .ordered-product-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 10px;

    .ordered-product-price {
      color: #969696;
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      text-transform: capitalize;
    }

    .ordered-product-discount-price {
      color: #2c7ef8;
      font-size: 22px;
      font-weight: 600;
      line-height: 140%;
      text-transform: capitalize;
    }
  }
}

.ordered-product-in-stock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 100%;

  .ordered-product-in-stock-text {
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    text-align: left;
    text-transform: capitalize;
  }

  .ordered-product-in-stock-static {
    width: 16px;
    height: 16px;
  }
}

.ordered-product-desc {
  color: #4d5254;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.ordered-product-reasons {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  .ordered-product-reason-item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;

    .ordered-product-reason-static {
      width: 22px;
      height: 22px;
      flex-shrink: 0;

      img {
        width: 100%;
      }
    }

    .ordered-product-reason-text {
      color: #4d5254;
      font-size: 16px;
      font-weight: 300;
      line-height: 160%;

      span {
        color: #4d5254;
        font-weight: 700;
      }
    }
  }
}

.ordered-product-discount-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  background: #edf3fd;

  .percent-icon-static {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }

  .ordered-product-discount-desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
  }
}

.blue-text {
  color: #2c7ef8;
}

.ordered-product-discount-claim {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  .btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 19px;
    align-items: center;
    justify-content: center;
  }
}

.ordered-product-discount-claim-perks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  padding: 8px 0;
  border-radius: 4px;
  border: 1px solid #cfcfcf;

  .perks-free-item {
    padding: 0 16px;
    color: #4d5254;
    font-size: 12px;
    font-weight: 300;
    line-height: 140%;
    text-transform: capitalize;
    display: inline-block;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 1px;
      background: #cfcfcf;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    &.ssl-encryption {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      gap: 10px;
    }
  }

  .perks-payment-methods-static {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    gap: 2px;

    .perks-payment-method-static-wrapper {
      width: 24px;

      .perks-payment-method-image-static {
        width: 100%;
      }
    }
  }
}

.ssl-encryption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: 10px;
}

.ordered-product-discount-claim-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
  text-align: center;
}

.ordered-product-no-discount {
  width: 100%;
  display: inline-block;
  text-align: center;

  a {
    width: 100%;
    display: block;
    color: #f82c2c;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
}

.ordered-product-gurantee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  text-align: left;

  .ordered-product-gurantee-static-wrapper {
    width: 88px;
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }

  .ordered-product-gurantee-desc {
    text-align: left;
    color: #4d5254;
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    display: block;

    .ordered-product-gurantee-desc-bold {
      font-weight: 700;
      display: inline-block;
    }
  }
}
